doctype html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='description', content='IoT-Portal | Front end application to IoT-Home')
  link(rel='stylesheet', type='text/css', href='http://cdn.foundation5.zurb.com/foundation.css')
  link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway')
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  title #{title}
  body
    .supported
      .row
        .large-5.large-offset-4.columns
          h1.text-center.header IoT Portal Demo
      .row
        .large-12.columns
          .results
            i.fa.fa-microphone.fa-3x.right
            img.mic-animate.right(src='https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif', alt="")
            p.speech-results
          hr
      .row
        .large-6.columns
          h4.light-one Light 1 Status
        .large-6.columns
          h4.light-two Light 2 Status
    .reveal-modal#errorModal(data-reveal aria-labelledby='modalTitle',aria-hidden='true',role='dialog')
      h2.text-center#modalTitle Speech API Error
      p.lead.text-center Unexpected Error Occurred
      h1.text-center
        img(src='https://media.giphy.com/media/149R89yoMrIFgI/giphy.gif')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js')
  script(type='text/javascript', src='http://cdn.foundation5.zurb.com/foundation.js')
  script(type='text/javascript', src='/js/light.js')
  script(type='text/javascript', src='/js/voice.js')
